.wrapper {
  width: 100%;
}

.projectCard {
  background-color: var(--project-color);
  margin-bottom: 32px;
}

.projectDescription {
  margin-top: 16px;
}

.sectionHeader {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 16px;
}

