.header {
    display: flex;
    align-items: center;
    background-color: #e1e0e0;
    width: 100%;
    min-width: var(--laptop);
}

.headerBox {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    min-width: var(--laptop);
    padding: 16px 24px;
    box-sizing: border-box;
}

.headerItems {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}


.headerItem {
    font-size: 20px;
    cursor: pointer;

    transition: .2s linear;
    border-radius: 6px;
}

.headerItem:hover {
    color: #318ee5;
}