.card {
  margin-bottom: 24px;
  background-color: var(--kts-color);
}

.titleRow {
  display: flex;
  align-items: center;
  gap: 8px;
}

.children {
  margin-top: 12px;
  width: 100%;
}

.sectionHeader {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 16px;
}
