.cardTitle {
    display: flex;
    align-items: center;
    gap: 16px;
}

.cardDesc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.card {
    width: 100%;
    margin-bottom: 16px;
    background-color: #fafafa;
    border-left: 4px solid #faad14;
    box-Shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.btnBox{
    display: flex;
    align-items: center;
    gap: 8px;
}